$top-bar-height: 48px;

$breakpoint-desktop: 1200px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;

$breakpoint-map: (
		m: $breakpoint-mobile,
		t: $breakpoint-tablet,
		d: $breakpoint-desktop
);

@mixin on-viewport-size($from: m, $to: w) {
	@if ($from == w) {
		@media (min-width: $breakpoint-desktop) {
			@content;
		}
	} @else if ($to == m) {
		@media (max-width: $breakpoint-mobile){
			@content;
		}
	} @else if ($from == '*') {
		@media (max-width: map_get($breakpoint-map, $to)) {
			@content;
		}
	} @else if ($to == '*') {
		@media (min-width: map_get($breakpoint-map, $from)) {
			@content;
		}
	} @else {
		@media (min-width: map_get($breakpoint-map, $from)) and (max-width: map_get($breakpoint-map, $to)) {
			@content;
		}
	}
}
