@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');
@import 'colors';
@import 'layout';

html, body {
	position: fixed;
	top: $top-bar-height;
	left: 0;
	width: 100vw;
	overflow-y: auto;
	height: calc(100vh - #{$top-bar-height});
}

.green:not(.inverted):not(.button) {
	color: $rdg-green !important;
}

.inverted.green:not(.button) {
	background-color: $rdg-green !important;
}

.button.green:not(:hover):not(:active) {
	background-color: $rdg-green !important;
	color: white !important;
}

.ui.segment {
	margin-top: 0 !important;
}

.ui.container {
	width: 100%;
	margin: 0;
}

.ui.label .ui.avatar.image {
	width: 28px !important;
	height: 28px !important;
	margin: 0 !important;
}

.ui.card > .image {
	background: $rdg-dark-gray !important;

	& img {
		width: auto !important;
		height: 300px !important;
		margin: auto !important;
	}
}
