@import "../../style/layout";

.container {
	@include on-viewport-size(t, '*') {
		max-width: 50%;
		margin: auto !important;
	}
}

.logo {
	display: block;
	max-width: 200px;
	margin: 20px auto;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 8px;
}
