.document {
	display: grid;
	grid-template-columns: 52px min-content minmax(auto, 500px);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	justify-content: center;
}

.placeholder {
	height: 100vh;
	display: block;
}

.page {
	display: inline-block;
	height: fit-content;
	padding: 0 14px !important;
}

.side-comments {
	overflow-y: auto;
	overflow-x: hidden;
	height: min-content;
	max-height: 100%;
	padding: 0 12px !important;
}

.sticky-top {
	position: sticky;
	top: 0;
	background: white;
	padding-top: 12px;
	z-index: 1;
}

.tag {
	height: min-content;
	padding-left: 6px!important;
	padding-right: 6px!important;
}
