@import 'style/layout';

.container {
	margin: 30px!important;
	width: calc(100vw - 60px)!important;
}

.full-height {
	height: calc(100vh - #{$top-bar-height});
}

.grid {
	padding-top: 0!important;
}
